.members-list-container {
    background-color: #F76C6C;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.members-list-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes colorAnimation {
    from {
        background-color: #90cb71;
        border-radius: 5px;}
    to {color: white;
        border-radius: 0px;}
  }

.member-wrapper-green {
    animation-name: colorAnimation;
    animation-duration: 2s;
}

.members-list-grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 15px;
}

.members-list-grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 15px;
}

.column-member {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}

.divider-horizontal {
    height: 2px;
    width: 125%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}