.members-list-container {
    width: 835px;
    background-color: #F76C6C;
    color: #ffffff;
    padding: 30px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes colorAnimation {
    from {
        background-color: #54ab26;
        border-radius: 5px;}
    to {color: white;
        border-radius: 0px;}
  }

.member-wrapper-green {
    animation-name: colorAnimation;
    animation-duration: 2s;
}

.members-list-grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.members-list-grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.column-member {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}