.home-container{
    height: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container > * {
    margin: 30px;
}