.new-member-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-default {
    width: 100px;
    height: 36px;
    border: none;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-blue {
    background-color: #88b4f9;
}

@keyframes colorAnimAdd {
    from {
        background-color: #88b4f9;
    }
    to {
        background-color: #6ca3fa;
    }
}

.button-blue:hover {
    animation-name: colorAnimAdd;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;  
}

.button-green {
    background-color: #90cb71;
    padding: 3px;
}

.name-input {
    width: 140px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 15px;
    margin: 5px;
}

.name-input:focus {
    outline: none !important;
    border: 2px solid #88b4f9;
    box-shadow: 0 0 10px #88b4f9;
}
