.header-container{
    height: 100%;
    background-color: #F76C6C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    width: 835px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container img {
    max-width: 85px;
    margin-right: 10px;
}

.header-container h1 {
    font-size: 2.5em;
}

.divider-header {
    width: 2px;
    height: 50px;
    background-color: white;
    margin-left: 15px;
    margin-right: 27px;
}